In [1]:
import urllib
from urllib.request import urlopen
import json
from pandas import Series, DataFrame
import time

In [2]:
hdr = {'User-Agent': 'osx:r/relationships.single.result:v1.0 (by /u/<PutYourUserNameHere>)'}
url =  'https://www.reddit.com/r/relationships/top/.json?sort=top&t=all&limit=1'
req = urllib.request.Request(url,headers=hdr)
response = urllib.request.urlopen(req)
text_data = response.read().decode('utf-8')
#print(text_data)
#print(isinstance(text_data,str))
data = json.loads(text_data)
data_all = data['data']['children']

In [4]:
last = data_all[-1]['data']['name']

print(last)

t3_3hw1jh

In [5]:
while (len(data_all) <= 500):
    time.sleep(2)
    last = data_all[-1]['data']['name']
    url = 'https://www.reddit.com/r/relationships/top/.json?sort=top&t=all&limit=100&after=%s' % last
    req = urllib.request.Request(url, headers=hdr)
    text_data = urllib.request.urlopen(req).read().decode('utf-8')
    data = json.loads(text_data)
    data_all += data['data']['children']

In [6]:
article_title = []
article_flairs = []
article_date = []
article_comments = []
article_score = []

for i in range(0, len(data_all)):
    article_title.append(data_all[i]['data']['title'])
    article_flairs.append(data_all[i]['data']['link_flair_text'])
    article_date.append(data_all[i]['data']['created_utc'])
    article_comments.append(data_all[i]['data']['num_comments'])
    article_score.append(data_all[i]['data']['score'])

In [7]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
rel_df = DataFrame({'Date': article_date,
                    'Title': article_title,
                    'Flair': article_flairs,
                    'Comments': article_comments,
                    'Score': article_score})
rel_df = rel_df[['Date', 'Title', 'Flair', 'Comments', 'Score']]

In [8]:
rel_df[:5]

,Date,Title,Flair,Comments,Score
0,1440187622,[UPDATE]My [26 F] with my husband [29 M] 1 yea...,Updates,911,8352
1,1438962646,Update: I [30 F] am sitting in the back of my ...,◉ Locked Post ◉,622,6268
2,1435026034,UPDATE: My fiancee (24F) has no bridesmaids an...,Updates,616,5594
3,1438393090,My [42M] daughter [17F] has been bullying a gi...,◉ Locked Post ◉,961,5494
4,1448797070,[Update] Really weird things are happening to ...,Updates,501,5402